html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  padding: 0em;
}
.content {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

#welcome-section {
  text-align: center;
  height: 80%;
  background-color: lightblue;
  padding-bottom: 3em;
}

#navbar {
  text-decoration: none;
  position: fixed;
  text-align: center;
}


.nav-link {
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
  color: gray;
  position: relative;
  left: 900px;
}

.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

.project-tile {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
}

.project-content {
  padding: 2em;
}

#github-logo, #github-page {
  position: relative;
  left: 500px;
}

#github-page {
  top: 10px;
}
